<nav class="sidenav">
    
          
    <ul>
        <li>
            <a href="{{site.baseurl}}/index">
                {% if page.icon %} <i class="fas {{page.icon}}"></i> {% endif %}
                Home
            </a>
        </li>
        <li>
            <a href="{{site.baseurl}}/about">
                {% if page.icon %} <i class="fas {{page.icon}}"></i> {% endif %}
                About
            </a>
        </li>
        <li>
            <a href="{{site.baseurl}}/contacts">
                {% if page.icon %} <i class="fas {{page.icon}}"></i> {% endif %}
                Contacts
            </a>
        </li>
        <li>
            <a href="{{site.baseurl}}/author">
                {% if page.icon %} <i class="fas {{page.icon}}"></i> {% endif %}
                Author
            </a>
        </li>
        
        
    </ul>
</nav>